/* App-wide styling */
body {
    background-color: white;
    color: black;
    margin: 20px;
    width: 100%;
    height: 100%;
}

#main {
    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: 10% 80% 10%;
    width: 100%;
    height: 100%;
}

#container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  width: 100%;
  height: 100%;
}

#sidebar {
  background-color: blue;
  width: 100%;
  height: 100%;
}

#head {
  background-color: red;
  width: 100%;
  height: 100%;
}

#todo {
  background-color:grey;
  width: 100%;
  height: 100%;
}



